/* frontdesk reservation status  */
.hotel-pre-check-in {
    background-color: orange !important;
  }
  
  .hotel-in-house {
    background-color: mediumseagreen !important;
  }
  
  .hotel-ngtd-reservation {
    background-color: purple !important;
    color: white;
  }
  
  .hotel-gtd-reservation {
    background-color: #97d7de !important;
  }
  
  .hotel-gtd-reservation {
    background-color: #cecece !important;
  }
  
  /* frontdesk header */
  
  .ag-header-weekend {
    background-color: orange;
  }
  
  .ag-header-holiday {
    background-color: lightcoral;
  }
  
  .ag-header-today {
    background-color: deepskyblue;
  }
  
  .hotel-to-charge {
    background-color: #ffc107 !important;
  }
  
  .ag-header-cell-label .ag-header-cell-text {
    color: #666666;
  }
  
  /* frontdesk legend */
  
  .legend {
    list-style: none;
  }
  .legend li {
    float: left;
    margin-right: 10px;
  }
  .legend span {
    border: 1px solid #ccc;
    float: left;
    width: 10px;
    height: 14px;
    margin: 2px;
    padding: 0px 20px;
  }
  
  .legend i {
    margin: 0px 5px;
  }
  
  .legend .title {
    font-weight: bold;
    color: #666666;
  }
  
  .hotel-grid-total {
    background-color: #eeeeee !important;
    font-weight: bold;
  }
  
  .web-form-wrapper .form-section-heading {
    background-color: #cccccc;
    padding: 12px 5px;
    font-weight: bold;
  }
  
  .hotel-debit {
    background-color: red;
    color: white;
  }
  
  .hotel-credit {
    background-color: limegreen;
    color: black;
  }
  